root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 200
indent_style = space
tab_width = 4
ij_visual_guides = 200

[*.java]
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_imports = 1
ij_java_imports_layout = $*, |, co.gourban.**, |, com.github.markostijak.**, |, java.**, jakarta.**, javax.**, |, *
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_formatter_enabled = true
ij_formatter_on_tag = @formatter:on
ij_formatter_off_tag = @formatter:off
